<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Time and Date</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {% load static %}
        <link rel="stylesheet" href="{% static 'time_app/style.css' %}" media="screen" title="no title"  charset="utf-8">
    </head>
    <body>
        <h2>The Current Date and Time:</h2>
        <div class="line">{{date}}</div>
        <div class="line">{{time}}</div>
    </body>
</html>